body {
  margin: 0;
}
input {
  height: 50px;
  width: 300px;
  font-size: 25px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 25px;
  border-radius: 30px;
  border: none;
  background-color: rgb(255, 151, 151);
  color: white;
  padding: 10px 18px;
  cursor: pointer; /* 포인터 커서 추가 */
}

button:hover {
  background-color: rgb(255, 102, 102);
}

h2 {
  font-size: 40px;
  align-items: center;
}

header {
  font-size: 30px;
  background-color: rgb(190, 159, 211);
  width: 100%;
  align-items: center;
}